*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: medium;
    scroll-behavior: smooth;
}
body{
    --main_color: #283526;
    --primaty_color: #888888;
    --button_background: #5679a3;
    --primary_button_background: #fe7649;
    --background_color: #e6ecf5;
}
h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main_color);
    font-size: 4rem;
    margin-bottom: 25px;
    text-transform: capitalize;
}

h3,
h4 {
    font-family: "muli";
    color: var(--main_color);
}

h3{
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}

p,
a,
li,
button {
    font-family: "muli";
    color: var(--primaty_color);

}

p{
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    cursor: pointer;

}

li{
    list-style: none;
}
button{
    padding: 0rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    line-height: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    z-index: 9;

}


/* ****************************Our Main Menu************************ */

header {
    padding: 0 15rem;
    margin-top: -20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
  }
  
  header nav .left_side_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        /* background-color: #e2efff; */
    }

  header nav .left_side_menu a img {
        width: 13rem;
        height: 5.5rem;
  }
  
  header nav .left_side_menu .sub_menu {
        height: inherit;
        display: flex;
        position: relative;
        z-index: 99;
  }

  header nav .left_side_menu .sub_menu a{
      margin-right: 2rem;
  }

  header nav .left_side_menu .sub_menu a li{
      font-size: 1.5rem;
      line-height: 3.63rem;
      text-transform: capitalize;
      transition: all 0.2s;
  }

  header nav .left_side_menu .sub_menu a li:hover {
      color: var(--button_background);
  }

  button{
      position: relative;
      background-color: gray;
      color: black;
  }
 
 


  /*********************** **********************
                                            Sccial midia section  ***************************/

div.icon{
    /* border: 2px solid black; */
    /* background-color: blueviolet; */
    position: sticky;
    top: 50%;
    /* right: 0px; */
    z-index: 999;
    height: 300px;
    width: 50px;
    size: 20px;
    opacity: 0.9;
}
div.icon a img{
    height: 40px;
    width: 40px;
    /* margin: 5px 0px; */
    margin: 0px;
    padding: 0px;
    color: crimson;
}
div.icon a img.icon1{
    background-color: #1778F2;
    /* border: 0px; */
    border-radius: 20px;
    transition: all 0.2s;

}
div.icon a img.icon2{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 50%,#285AEB 90%);
    border-radius: 20px;
    transition: all 0.2s;
}
div.icon a img.icon3{
    background-color: #c4302b;
    border-radius: 20px;
    transition: all 0.2s;

}
div.icon a img.icon4{
    background-color: #09b9ff;
    border-radius: 20px;
    transition: all 0.5s;

}
div.icon a img.icon5{
    background-color: #DD4B39;
    border-radius: 20px;
    transition: all 0.2s;

}


/* *************hover effect *************** */
div.icon a img.icon1:hover{
    height: 45px;
    width: 45px;
}
div.icon a img.icon2:hover{
    height: 45px;
    width: 45px;
}
div.icon a img.icon3:hover{
    height: 45px;
    width: 45px;
}
div.icon a img.icon4:hover{
    height: 45px;
    width: 45px;
}
div.icon a img.icon5:hover{
    height: 45px;
    width: 45px;
}








  /*********************************************************************
                                        right side menu  ***************************/



header.right_side_menu.sub_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
      
}

button:hover{
    color: white;
    background-color: rgb(61, 59, 59);
    transition: all 0.2s;

}


/* 
<!-- ******************************************************
                                       main hero section *****************************************--> */

.main-hero-section{
    padding: 0 15rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.main-hero-section p {
    margin-bottom: 80px;
    font-size: 22px;
    width: 35rem;
}
.main-hero-section a img {
   width: 130ox;
   height: 40px;
}
.main-hero-section .button-group .appstore {
   height: 43px;
   margin-bottom: -3px;
}

.main-hero-section .button-group a:first-child {
    margin-right: 25px;
}
.main-hero-section .Right-hero-section {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



/* 
<!-- ******************************************************
                                       main hero Left section *****************************************--> */


.main-hero-section .Left-hero-section {
    width: 50%;
    height: 100vh;
    background: var(--background_color);
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 90px 30px 30px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero-section .Left-hero-section img {
    height: 800px;
    width: 900px;
    margin-right: 400px;
}

/* 
<!-- ******************************************************
                                       Our 2nd section Left Side *****************************************--> */


.comon-section {
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    padding: 0 200px;
}

.comon-section .left-side{
    height: inherit;
    width: inherit;
}
.comon-section .left-side figure {
    width: 320px;
    height: 40rem;
    background-color: #f3f9ff;
    border-radius: 32px;
}

.comon-section .left-side img {
    width: 30rem;
    height: 40rem;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 40px;
    /* position: fixed; */
}


/* 
<!-- ******************************************************
                                       Our 2nd section Right Side *****************************************--> */


.Right-side h2 {
    font-size: 3.6rem;
}

.comon-section .Right-side {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.comon-section .Right-side .comon-button {
    padding: 0px 24px;
    background-color: var(--primary_button_background);
    margin-right: 20px;
}

.comon-section .Right-side button:last-child {
    background: white;
    background-color: transparent;

}

.comon-section .Right-side .comon-button:hover{
    background-color: #e94e1b;
}

.comon-section .Right-side .comon-button-normal:hover{
    background-color: var(--primary_button_background);
}

/* 
<!-- ******************************************************
                                       Our 3rd section *****************************************--> */

.section-third {
    width: 102%;
    height: 650px;
    background-color: var(--background_color);
    padding: 40px 320px;
}

.section-third h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.section-third p {
    width: 350px;
    font-size: 24px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.section-third .section-third-task{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    
}

.section-third .section-third-task img {
    height: 150px;
    width: 150px;
    transition: all 0.3s;
}
.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img{
    height: 160px;
}

.section-third .section-third-task .task-1 p,
.section-third .section-third-task .task-2 p,
.section-third .section-third-task .task-3 p{
    font-size: 18px;
}

.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-2 h3,
.section-third .section-third-task .task-3 h3{
    font-size: 30px;
   line-height: 40px;
   margin-top: 20px;
}

.section-third .section-third-task .task-1,
.section-third .section-third-task .task-2,
.section-third .section-third-task .task-3 {
    padding-top: 40px;
    /* background-color: aquamarine; */
    text-align: center;
    margin-top: 20px;
    transition: all 0.3s;
    border-radius: 20px;
}

.section-third .section-third-task .task-3 {
    background: #fff;
    box-shadow: -8px 8px 20px -2px rgb(35 52 53);
}

.section-third .section-third-task .task-1:hover,
.section-third .section-third-task .task-2:hover{
    background: #fff;
    box-shadow: -8px 8px 20px -2px rgb(35 52 53);
}

.section-third .section-third-task .task-1:hover > img,
.section-third .section-third-task .task-2:hover > img,
.section-third .section-third-task .task-3:hover > img {
    transform: rotate(360deg);
}

/* 
<!-- ******************************************************
                                       Our 4th section *****************************************--> */

#section-four .Right-side h2{
    width: 40rem;
    font-size: 60px;
}

#section-four .Right-side p{
    width: 40rem;
    margin: 15px;
}

#section-four .left-side img{
    width: inherit;
    height: inherit;
    margin: 0px 0px;
}


/* 
<!-- ******************************************************
                                       Our 5th section *****************************************--> */


#section-five .left-side img {
    margin: 0px 0px;
}

/* 
<!-- ******************************************************
                                       Our 6th section *****************************************--> */

footer{
    height: inherit;
    width: 102%;
    padding: 20px 225px;
    background: var(--background_color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo img {
    height: 110px;
    width: 220px;
}

.footer-logo p {
    margin: 0px 0px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.footer-div-2,
.footer-div-3,
.footer-div-4,
.footer-div-5 {
    display: grid;
}

.footer-div-2 h4,
.footer-div-3 h4,
.footer-div-4 h4,
.footer-div-5 h4 {
    font-size: 30px;
}

.footer-div-2 p,
.footer-div-3 p,
.footer-div-4 p,
.footer-div-5 p {
    font-size: 20px;
    margin: auto;
}


/* 
<!-- ******************************************************
                                       Our copyright section *****************************************--> */



.coppy-right {
    background: var(--main_color);
    height: 40px;
    width: 102%;

}

.coppy-right h4{
    color:#e6ecf5;
    padding: 6px 861px;
    font-size: 20px;
    
}

/* 1.46 */




/* ***************************for mobile********************************* */

@media (max-width: 380px){
    header, 
    .main-hero-section, 
    .comon-section {
        padding: 30px;

    }

    header nav {
        padding-top: 1rem;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    header nav .left_side_menu {
        width: 100;
        display: block;
        order: 2;
    }
    header nav .left_side_menu img {
        display: block;
        width: 100%;

    }
    
    header nav .left_side_menu .sub_menu a li {
        font-size: 1.4rem;
        line-height: 2.63rem;
        text-transform: capitalize;
        font-size: 20px;
        padding: 0px;
    }
    header nav .left_side_menu .sub_menu{
        width: 345px;
        margin-top: 25px;
    }
    header nav .left_side_menu a img{
        height: 60px;
        width: 125px;
        margin-top: -132px;

    }
    button {
        padding: 0rem 0.9rem;
        border-radius: 1.2rem;
        border: none;
        outline: none;
        line-height: 2.1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        z-index: 9;
    }

    .right_side_menu .sub_menu {
        padding-left: 140px;
        font-size: 7px;
    }



   /* *********social media sectoon************ */

   div.icon {
    position: sti;       
    top: 50%;
    /* right: 0px; */
    z-index: 999;
    height: 300px;
    width: 50px;
    size: 20px;
    opacity: 0.9;
   }
   
   
   
   
   
   
    /* *********hero section******** */
    .main-hero-section{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-flow: column;
        margin: 0px;
        padding: 10px;
    }
    .main-hero-section .Right-hero-section {
        order: 2;
        width: 100%;
        margin-top: 108px;
        
    }
    .main-hero-section .Right-hero-section h2 {
        width: 375px;
        font-size: 45px;
        top: 0px;   
        padding-left: 22px; 
    }
    .main-hero-section .Right-hero-section p {
        width: 361px;
        font-size: 27px;
        top: 0px;    
        margin-bottom: 50px;
    }
    .main-hero-section .Left-hero-section img {
        height: 400px;
        width: 400px;
        margin: 0px;
        margin-top: 30px;
        right: 90px;
        order: 1;
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: transparent;
    }
    .main-hero-section .Left-hero-section{
        background: transparent;
        width: 340px;
    }
    .comon-section{
        width: 340px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .comon-section .left-side img {
        height: 450px;
        width: 350px;
        margin-left: 18px;
        margin-top: 10px;
    }
    .comon-section .left-side figure {
        height: 500px;
        width: 376px;
        margin-left: 26px;
        margin-top: 0px;
        margin-left: -20px;
        margin-bottom: 20px;

    }
    .Right-side h2 {
        width: 350px;
        font-size: 33px;
        top: 0px;
    }   
    
    .Right-side p {
        width: 361px;
        font-size: 27px;
        top: 0px;    
        margin-bottom: 50px;
    }
    .comon-section .Right-side {
        margin-left: -12px;
        width: 350px;
    }

    /* ************3rd section************* */

    .section-third {
        height: auto;
        width: 380px;
        padding: 10px;
        
    }
    .section-third .section-third-task {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 4rem;
        padding: 0;
        
        
    }
    .section-third .section-third-task .task-1, 
    .section-third .section-third-task .task-2, 
    .section-third .section-third-task .task-3 {
        margin: 10px;
        margin-left: 3px;
        /* height: 50%;
        width: 50%; */
    }
    .section-third h2 {
        font-size: 40px;
        margin-left: -7px;
    }

    /* ********4th section************* */
    #section-four .Right-side h2 {
        width: 375px;
        font-size: 40px;
        margin-left: -21px;
        padding-left: 34px;
    
    }
    #section-four .Right-side p {
        width: 20rem;
        margin: 23px;
        margin-top: 0px;
        margin-right: 0px;
    }
    div .button-group {
        margin-left: 25px;
    }
    
    #section-four .left-side img {
        height: 298px;
        width: 350px;
        margin: -26px;
        margin-top: 50px;
    }

    /* *******5th section********** */
    #section-five .left-side img {
        height: 450px;
        width: 360px;
        margin-left: -15px;
    }
    h3 {
        /* font-weight: 750; */
        font-size: 2.2rem;
        line-height: 3rem;
        text-transform: capitalize;
        margin: 9px;
        margin-top: 40px;
        margin-right: 0px;
    }
    /* ************footer*************** */
    footer {
        height: 500px;
        width: 380px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-menu {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 50px;
        
    }
    .footer-logo {
        display: block;
        width: 100%;
        height: 100%;
    }
    .coppy-right h4 {
        margin: 10px;
        padding: 0px;
        padding-top: 7px;
        padding-left: 94px;
    }
    .footer-logo img {
        height: 100px;
        width: 200px;
        margin-left: 100px;
        margin-top: 30px;

    }
    body {
        width: 375px;
    }
    .footer-logo p {
        margin-left: 83px;
    }
}