*{
    margin: 0px;
    padding: 0px;

}

body{
    background: url(bg.jpg) no-repeat fixed;
    background-size: cover;

}

.contaner {
    /* border: 12px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    z-index: 999;
    border-radius: 20px;
    
}

h1{
    font-size: 60px;
    border-bottom: rgb(123, 255, 0) solid;
    padding: auto;
    padding: 20px;
    padding-left: 30%;
    
}
.box{
    /* border-bottom: 4px rgb(123, 255, 0) solid; */
    margin: 10px;
}
.box input{
    font-size: 25px;
    margin: 5px 0px;
    padding: 3px;
    outline: none;
    margin-top: 10px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);

}
input{
    color: aquamarine;
}
.btn{
    margin: 20px 33%;
    margin-left: 132px;
    font-size: 20px;
    width: 30%;
    border: none;
    cursor: pointer;
    height: 35px;
    padding: 7px;
    border-radius: 8px;
    font-family:sans-serif;
    background-color: rgb(95, 197, 0);
  
}
.box i{
    width: 25px;
    text-align: center;
    font-size: 22px;
    padding: 0px 10px;
    color: rgb(95, 197, 0);
}
.section{
    margin-top: 0px;
    margin-left: 15px;
    padding: 50px;
    padding-bottom: 0px;
    margin-right: 50px;

}
.forgot a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(95, 197, 0);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;

}

body:after{
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.7);
   opacity: 0.5;
}

p{
    margin: 12px 70px;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
p a{
    text-decoration: none;
    color: rgb(95, 197, 0);
}


h2{
    margin: 0;
    padding: 0;
    color: rgb(95, 197, 0);
}
